html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


.green {
    color: #18CFAB;
}

.content {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

/* header */

header {
    background-image: url("img/bg1.jpg");
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-center {
    height: 880px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-center-items {
    color: white;
    text-align: center;
}

.f30 {
    font-size: 30pt;
    text-transform: uppercase;
    margin: 10px;
}

.f64 {
    font-size: 64pt;
    text-transform: uppercase;
    margin: 10px;
}

.f28 {
    font-size: 28pt;
    font-weight: 300;
    margin: 10px;
    margin-bottom: 120px;
}

.transparent {
    height: 120px;
    background-color: rgba(90, 90, 84, 0.7);
}

.logo {
    float: left;
    width: 250px;
    color: white;
    font-size: 26pt;
    margin-top: 25px;
}

.topmenu {
    float: right;
    width: 800px;
    height: 120px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.topmenu li {
    padding-top: 45px;
    list-style: none;
    margin-left: 20px;
}

.topmenu li a {
    text-transform: uppercase;
    color: #BBBBBB;
    text-decoration: none;
    font-weight: bold;
    font-size: 10.5pt;
}

.btn {
    font-size: 11pt;
    font-weight: bold;
    color: white;
    padding: 20px 18px;
    border-radius: 5px;
    width: 140px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 4px white solid;
}

.btn-explore {
    background-color: #18CFAB;
}

.btn-purchase {
    background-color: #00CBF6;
    margin-left: 20px;
}

/* block 2 boxes */

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes > div {
    width: 25%;
    text-transform: uppercase;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
}

.boxes img {
    margin-bottom: 50px;
}

.boxes span {
    text-align: center;
}

.greenbg {
    background-color: #18CFAB;
}

.darkbg {
    background-color: #1C2A33;
}

/* block 3  services */

h2 {
    font-size: 32pt;
    text-align: center;
    font-weight: 400;
    color: #4E4E4E;
    margin-top: 70px;
    margin-bottom: 10px;
}

.services {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 30px;
    border: 1px #EBEBEB solid;
}

.services-normal {
    display: flex;
    width: 16.6%;
    font-size: 14pt;
    font-weight: 300;
    color: #717171;
    background-color: #F8FCFE;
    list-style: none;
    height: 70px;
    border-right: 1px #EBEBEB solid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.services-active {
    background-color: #18CFAB;
    color: white;
}

.hidden {
    display: none;
}

.services-normal:hover {
    cursor: pointer;
}

.services-text {
    float: right;
    width: 940px;
    font-size: 11pt;
    color: #4E4E4E;
    text-align: left;
}

.services-img {
    width: 200px;
    height: 140px;
    float: left;

}

.down {
    position: absolute;
    top: 70px;
}

/* block 4  buy and install */

.buyandinstall {
    height: 470px;
    display: flex;
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.f32 {
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32pt;
    margin: 10px;
}

.f13 {
    margin: 10px;
    color: white;
    font-weight: 300;
    font-size: 13pt;
}


/* block 5 - gallery */

.work {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 700px;
}

.work>li {
    display: flex;
    width: 20%;
    font-size: 11pt;
    font-weight: 400;
    color: #717171;
    background-color: white;
    list-style: none;
    height: 58px;
    border: 1px #EBEBEB solid;
    border-right: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.work>li:last-child {
    border-right: 1px #EBEBEB solid;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
}

.work-gallery img {
    width: 290px;

}

.load-more {
    font-size: 11pt;
    font-weight: bold;
    color: white;
    padding: 20px 18px;
    border-radius: 5px;
    width: 130px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin: 60px;
    background-color: #18CFAB;
}

.amazing-bg {
    background-color: #F8FCFE;
    border-bottom: 1px #E1E1E1 solid;
}


/* block 6 breaking news */


.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.news > a {
    width: 242px;
    height: 280px;
    border: 1px #ECECEC solid;
    background-repeat: no-repeat;
    background-color: #F8FCFE;
    padding-left: 20px;
    margin-bottom: 50px;
    display: block;
    text-decoration: none;
}

.date {
    background-color: #203E38;
    width: 50px;
    height: 50px;
    margin-left: 172px;
    font-size: 13.5pt;
    font-weight: 300;
    color: white;
    padding: 10px;
    margin-bottom: 150px;
    text-align: center;
}

.date-active {
    background-color: #18CFAB;
}

.news-title {
    font-weight: bold;
    font-size: 14pt;
    color: #717171;
}

.news-title-active {
    color: #18CFAB;
}


.news-comments {
    font-weight: 300;
    color: #4E4E4E;
    font-size: 11pt;
}

/* block 6 ppl say */

.peoplesay {
    background-image: url("img/bg3.jpg");
    height: 800px;
    padding-top: 1px;
}

.name {
    text-transform: uppercase;
    font-weight: 600;
    color: #18CFAB;
    font-size: 12.5pt;
    margin-top: 30px;
}

.position {
    text-transform: none;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 10.5pt;
    margin-bottom: 20px;
}

.slider {
    width: 600px;
    margin: 0 auto;
}
.slider div {
    position: relative;
}

.faces {
    width: 70px;
    height: 70px;
    margin: 15px;
    float: left;
    transition: all 0.5s ease-in-out;
}

.faces-active {
    background-image:url('img/circle.png');
    background-size: 70px;
}


.faces:hover {
    transform: translateY(-25px);
}


.persons {
    margin: 0 auto;
    height: 360px;
}

.persons>div {
    color: #BBBBBB;
    font-weight: 300;

}

.ar-left {
    width: 30px;
    height: 30px;
    margin: 35px;
    background-image: url('img/ar-left.png');
    cursor: pointer;
    float: left;
}

.ar-left:hover {
    background-image: url('img/ar-left-filled.png');
}

.ar-right {
    width: 30px;
    height: 30px;
    margin: 35px;
    background-image: url('img/ar-right.png');
    cursor: pointer;
    float: left;
}

.ar-right:hover {
    background-image: url('img/ar-right-filled.png');
}


.circle {
     position: absolute;
 }


/* block footer  */


footer {
    background-color: #22353f;
    text-align: center;
    color: #BBBBBB;
    padding: 30px;
    font-weight: 300;
    font-size: 11pt;
}

